<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Local Dev Paths -->
  <link rel="stylesheet" href="./styles/bulma.css">
  <link rel="stylesheet" href="./styles/main.css">
  <!-- Production Paths -->
  <link rel="stylesheet" href="/s/helmetbot/public/styles/bulma.css">
  <link rel="stylesheet" href="/s/helmetbot/public/styles/main.css">
  <title>HelmetBot</title>
</head>
<body>