<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8">
  <!-- Local Dev Paths -->
  <!-- <link rel="stylesheet" href="./styles/bulma.css">
  <link rel="stylesheet" href="./styles/main.css"> -->
  <!-- Production Paths -->
  <link rel="stylesheet" href="/s/helmetbot/public/styles/bulma.css">
  <link rel="stylesheet" href="/s/helmetbot/public/styles/main.css">
  <title>HelmetBot</title>
</head>
<body>