<% include ./partials/header %>

  <section class="hero is-info is-fullheight">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          HelmetBot
        </h1>
        <h2 class="subtitle">
          A bot for Telegram -
          <strong>@HelmetBot</strong>
        </h2>

        <div class="box">
          <p>
            A web service built to help make
            <strong>searching/copying/pasting</strong> links for venues a lot
            faster. Search directly from with a Telegram chats. When you find a place you want to share, a simple
            tap will send your chat a Google Maps link. Powered by Yelp, not affiliated.
          </p>
        </div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/AueH0vpRgDk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
    <div class="hero-foot">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            <strong>HelmetBot</strong> created by
            <a class="button is-rounded is-success is-small" href="https://jxja.me/me">Jose</a>
          </p>
          <p>
            Check out the source in my
            <a class="button is-rounded is-success is-small" href="https://github.com/japaricio2/helmetbot.git">Github Repo</a>
          </p>
        </div>
      </div>
    </div>
  </section>
  <% include ./partials/footer %>